<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703376507167-t61ndb3o586kvjsg6kbsi99hu29ca151.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703376507167-t61ndb3o586kvjsg6kbsi99hu29ca151</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>703376507167-1212t1i04pjrgfrphekt117grnp8m4ft.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZrTFcIwkB_Ecnx1gunO_5Mz8GUg_UbVc</string>
	<key>GCM_SENDER_ID</key>
	<string>703376507167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stonfacesoft.keyboards</string>
	<key>PROJECT_ID</key>
	<string>keyboard-98820</string>
	<key>STORAGE_BUCKET</key>
	<string>keyboard-98820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703376507167:ios:518be9f1a3f3920af1f02a</string>
	<key>DATABASE_URL</key>
	<string>https://keyboard-98820-default-rtdb.firebaseio.com</string>
</dict>
</plist>